*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

app-build/build\.options\.json

app-build/sketch/FileManager\.h\.cpp

app-build/sketch/IoTDevice\.h

app-build/sketch/NetworkManager\.h

app-build/sketch/Status\.h
